.cart {
  color: #000;
  max-width: 1020px;
  margin: auto;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 10px;
  border-radius: 5px;

  &__title {
    text-align: center;
    color: #fff;
    padding-bottom: 20px;
  }

  &__list {
    width: 60%;
    margin: auto;
    text-align: center;
  }

  &__item {
    position: relative;
    max-width: 700px;
    margin: 20px auto;
    padding: 10px;
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    border-radius: 5px;
  }

  &__img {
    max-width: 200px;
    height: 150px;
  }

  &__name, &__price {
    width: 250px;
  }

  &__count {
    color: #000;
    width: 150px;
  }

  &__close {
    position: absolute;
    width: 25px;
    height: 25px;
    text-align: center;
    top: -10px;
    right: -10px;
    border-radius: 100%;
    border: 1px solid #000;
    background-color: azure;
    cursor: pointer;
  }
}